
body, html {
  margin: 0;
  padding: 0;
  height: auto;              
  min-height: 100vh;         
  background: #e7eef6;
  font-family: "Segoe UI", Arial, sans-serif;
  display: block;            
}


/* Center container */
.container {
  width: 90%;
  max-width: 700px;
  background: #4f4e4e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Header styling */
h1 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
h3 {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

/* Section cards */
.card {
  background: #499aec;
  border: 1px solid #d1d5db;
  padding: 1.2rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(167, 162, 162, 0.05);
  text-align: left;
}

/* Subheadings */
.card h2 {
  color: #2563eb;
  margin-bottom: 0.5rem;
}

/* Input fields */
input {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #94a3b8;
  width: calc(50% - 14px);
  border: 1.5px solid #2563eb;      
  background-color: #f0f7ff;        
  color: #070f24;                   
}

/* Buttons */
button {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

button:hover {
  background-color: #1d4ed8;
}

/* Result section */
.result {
  text-align: left;
  background: #536cbc;
  padding: 0.75rem;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.item-card {
  background: #363547;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.item-card p {
  margin: 4px 0;
}

/* Messages */
.msg {
  color: #15803d;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
